<mat-list>
    <h3 mat-subheader>Folders</h3>
    <mat-list-item *ngFor="let note of notes; last as last">
       <h4 mat-line>{{note.name}}</h4>
       <p mat-line class="demo-2"> {{note.desc}} </p>
       <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
    <mat-divider></mat-divider>
 </mat-list>


 <div *ngIf="user">
   <h2>{{user.name | uppercase}} Details</h2>
   <div><span>id: </span>{{user.id}}</div>
   <div>
     <label for="user-name">User name: </label>
     <input id="user-name" [(ngModel)]="user.name" placeholder="User name"/>
   </div>

 </div>
