
<mat-card>
    <mat-card-title>
        Servicios
    </mat-card-title>

    <mat-form-field>
        <input matInput placeholder="Buscar servicio" #input>
    </mat-form-field>

    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <mat-card-content class="container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="action">
              <tr><th mat-header-cell *matHeaderCellDef> 
                <button mat-icon-button color="primary" (click)="addService()">
                  <mat-icon>add</mat-icon>
                </button>
              </th></tr>
              <tr>
                <td mat-cell *matCellDef="let row" style="width:20%">
                  <button mat-icon-button color="primary" (click)="editService(row)" title="Edit Service"><mat-icon>edit</mat-icon></button>
                </td>
              <tr>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Descripcion </th>
              <td mat-cell *matCellDef="let service"> {{service.description}} </td>
            </ng-container>
          
            <!-- Prices Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Precio </th>
              <td mat-cell *matCellDef="let service"> {{service.price}} </td>
            </ng-container>
          
            <!-- Cost Column -->
            <ng-container matColumnDef="cost">
              <th mat-header-cell *matHeaderCellDef> Costo </th>
              <td mat-cell *matCellDef="let service"> {{service.cost}} </td>
            </ng-container>

          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator *ngIf="dataSource.page.asObservable() | async as page" [length]="page.paging.total" [pageSize]="pageSize"
          [hidePageSize]="true" >
          </mat-paginator>

    </mat-card-content>
</mat-card>