<mat-card>
    <mat-card-title>Actualizar Servicio</mat-card-title>
    <mat-card-content>
        <div class="example-container">
            <div class="form-container">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
                    <input #input class="form-control" type="hidden" formControlName="id">

                    <mat-form-field appearance="fill" class="form-field">
                        <mat-label>Descripcion</mat-label>
                        <input matInput #input class="form-control" type="text" formControlName="description">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="form-field">
                        <mat-label>Precio</mat-label>
                        <input matInput #input class="form-control" type="number" formControlName="price">
                        <span matPrefix>$&nbsp;</span>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="form-field">
                        <mat-label>Costo</mat-label>
                        <input matInput #input class="form-control" type="number" formControlName="cost">
                        <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
    
                    <div mat-dialog-actions>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Actualizar</button>
                    </div>
                </form>
            
                <div mat-dialog-actions> 
                    <button mat-raised-button color="warn" (click)="goBack()">Cancelar</button>
                </div>

            </div>
        </div>
    </mat-card-content>
    
</mat-card>